h1{
    color: #3f80eb;
    background-color: #dff5f5;
    text-align: center;
}
body{
    background-image: url("./img/moorish-pattern_644416-582.jpg");
    display: flex;
    flex-direction: column;
}
ul{
    background-color: #191970;
}
a{
    color: #ffd700;
    background-color: #191970;
}
a:hover{
    color: indigo;
    background-color: lightblue;
}
a:active{
    color: yellow;
    background-color: crimson;
}
img{
    height: 300px;
    width: 300px;
}